body {
	background-color: var(--ml-bg-light-1);
	overflow:hidden;

	
	

	&>[data-gjs-type="wrapper"] {
		position: relative;
		background-color: var(--bs-white);
		width: 1980px;
		height: 1080px;
		min-height: auto;
		/*transition: transform .01s;*/
	}

	&::-webkit-scrollbar {
		width: 6px;
		height: 6px;
	}

	&::-webkit-scrollbar-track {
		border-radius: 0px;
		background-color: var(--bs-white);
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 0px;
		background-color: var(--bs-tertiary);
	}




}